.header {
    height: 50px;
    background-color: yellow;
}

.content {
    width: 80%;
    float: left;
    height: 500px;
    background-color: pink;
}

.sidebar {
    width: 20%;
    float: right;
    height: 500px;
    background-color: grey;
}

.footer {
    height: 50px;
    background-color: green;
    clear: both;
}