.articles {
    display: flex;
    /* width: 100%; */
}

.articles>div {
    height: 100px;
    width: 150px;
    background-color: beige;
    margin: 16px;
    box-sizing: border-box;
}

.cropped {
    overflow: hidden;
}

.both-scrolls {
    overflow: scroll;
}

.vertical-scroll {
    overflow: auto;
    /* overflow-x: auto; */
    /* overflow-y: auto; */
    /* cursor: pointer; */
    cursor: all-scroll;
}