body {
    margin: 0;
}

.header {
    position: fixed;
    background-color: darkturquoise;
    height: 40px;
    width: 100%;
    z-index: 1;
}

.navigation {
    position: absolute;
    height: 40px;
}

.nav-list {
    position: relative;
    height: 40px;
    margin: 0;
}

.nav-item {
    position: relative;
    color: white;
    float: left;
    margin-left: 16px;
    /* delete marker */
    list-style-type: none;
    line-height: 40px;
}


/* ------------- Bear ------------------ */

.content {
    position: absolute;
    height: 5000px;
    width: 100%;
    background-color: beige;
    z-index: 0;
}

.head {
    position: relative;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background-color: aquamarine;
}

.ear {
    position: relative;
    width: 40px;
    height: 60px;
    background-color: brown;
    bottom: 60px;
}

.ear_right {
    right: 40px;
    float: left;
}

.ear_left {
    left: 40px;
    float: right;
}

.eye {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    top: 80px;
}

.eye_right {
    float: left;
}

.eye_left {
    float: right;
}