* {
    box-sizing: border-box;
}

.square {
    /*display: flex;
    justify-content: center;*/
    width: 100px;
    height: 100px;
    background-color: coral;
    position: absolute;
    animation: move 2s;
    /* animation-iteration-count: infinite; */
}

@keyframes move {
    0% {
        left: 0;
    }
    25% {
        left: 300px;
    }
    50% {
        left: 300px;
        top: 300px;
    }
    75% {
        left: 0;
        top: 300px;
    }
    100% {
        left: 0;
        top: 0;
    }
}


/*
@keyframes move {
    from {
        left: 0;
    }
    to {
        left: 300px;
    }
}
*/