* {
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 300px;
    height: 300px;
}

.rect {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    width: 100px;
    height: 100px;
    background-color: coral;
    opacity: 0.5;
    /*
    transition: width 1s 0.5s
    , opacity 3s 0.5s
    ;
    */
}


/*
.rect:hover {
    width: 100%;
    opacity: 1;
}

.rect:nth-child(1) {
    transition-timing-function: linear;
}

.rect:nth-child(2) {
    transition-timing-function: ease-in-out;
}

.rect:nth-child(3) {
    transition-timing-function: ease-in;
}

.rect:nth-child(4) {
    transition-timing-function: ease-in-out;
}*/