@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  background: $page-color;
  display: flex;
  height: 100vh;
  width: auto;
}

.price-cards {
  font-family: 'Montserrat';
  background: $page-color;
  color: $text-color-white;
  display: flex;
  /*align-items: center;*/
  align-items: end;
  justify-content: center;
  margin: auto;

  width: 1440px;
  height: 1000px;
}

@import 'card.scss';
@import 'card-colors.scss';
