div {
    position: relative;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 50px;
}

body {
    position: absolute;
    margin: 50px;
    width: calc(100% - 100px);
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}