div {
    box-sizing: border-box;
    border: 2px solid black;
    width: calc(100% - 100px);
    /* blue, yellow, green, pink */
}

.blue {
    position: absolute;
    height: 401px;
    margin: 50px;
    background-color: blue;
}

.yellow {
    position: relative;
    height: 301px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: yellow;
}

.green {
    position: relative;
    height: 201px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: green;
}

.pink {
    position: relative;
    height: 101px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: pink;
}