html {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 32px;
}

h1 {
    display: flex;
    word-spacing: 20px;
    text-transform: uppercase;
    justify-content: center;
}

p {
    line-height: 28px;
}

.technology {
    text-decoration: underline;
    letter-spacing: 3px;
    font-size: 24px;
    opacity: 0.8;
}

a {
    text-decoration: none;
}

.translation {
    color: grey;
}


/*
.technology {
    font-weight: 900;
    letter-spacing: 3px;
}
*/