* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  /* Чтобы занимал оставшееся пространство */
  /*flex-grow: 1;*/
  flex: 1;
}

/*
main {
    flex:1;
    display: flex;
*/

/*
.units-list {
  line-height: 1.75em;
}
*/

/* ----------------- HEADER ------------------*/
.header {
  /*display: flex;*/
  /*background: linear-gradient(to left, orange, 60%, red);*/
  background-image: linear-gradient(60deg, red, orange);
  /* ---------- */
  text-align: center;
  color: #fff;
}

/*
h1 {
  text-align: center;
  width: 100%;
  color: #fff;
}
*/

.navigation,
.section,
.news {
  padding: 0.5em;
}

/* ----------------- NAVIGATION ------------------*/
.navigation {
  width: 20%;
  /* +++ */
  /* padding: 0.5em; */
}

/* ++++ */
.nav-list {
  padding: 0;
}

.nav-list-item {
  /* ---- */
  /*padding: 0;*/
  list-style-type: none;
  background-color: #808080;
  /*color: #fff;*/
  height: 2em;
  line-height: 2em;
  margin-bottom: 0.5em;
  color: #fff;
  /*
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  */
}

.nav-list-link {
  width: 100%;
  /* +++ */
  display: inline-block; /* + */
  padding: 0 0.5em;
  text-decoration: none;
  color: #fff;
  /* ссылка должна занимать весь! елемент навигации */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ----------------- /NAVIGATION ----------------*/

/* ----------------- SECTION ------------------*/
.section {
  width: 60%;
  font-size: 1.25em;
  /* ++++ */
  /*padding: 0.5em;*/
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  /* размер шрифта в 1.125 больше текущего */
  font-size: 1.125em;
  font-weight: 700;
}
/* ----------------- /SECTION --------------------*/

/* ---------------- ASIDE --------------------*/
.news {
  width: 20%;
  /* ++++ */
  /*padding: 0.5em;*/
}
/* ---------------- /ASIDE --------------------*/

footer {
  /* Чтобы footer не уменьшался */
  /*flex-shrink: 0;*/
  background-color: #e5e5e5;
  text-align: center;
  padding: 0.5em;
}
